.navigation {
  padding: 20px 0;
  grid-template-columns: 1fr 3fr 1fr;
}

.text-decoration-none {
  text-decoration: none
}

.font-family {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav-color {
  background-color: #5d79f5;
  color: #fff;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.sign-out-button {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-content: center;
  grid-gap: 10px;
}

.username {
  align-self: center;
}

.empty-dashboard {
  display: grid;
  place-content: center;
}