<div class="position-relative h-100">
	<% if @product.nil? %>
		<%= link_to "Create a product", products_path, class: "empty-dashboard btn btn-primary"%>
	<% end %>
	<%= render partial: "product",  collection: @products %>
</div>
